.about {
  align-items: start;
  display: grid;
  gap: 5rem;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: $bp-5) {
    grid-template-columns: 1fr;
  }

  &__box {
    align-items: center;
    color: $color-white;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    justify-items: center;
    row-gap: 2rem;

    @media only screen and (max-width: $bp-5) {
      height: max-content;
    }
  }

  &__icon {
    background-color: $color-red;
    border-radius: 50%;
    fill: $color-grey-light-1;
    grid-row: 1 / 2;
    height: 4rem;
    padding: 0.7rem;
    width: 4rem;
  }
}
