.hobbies {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;

  @media only screen and (max-width: $bp-6) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &-box {
    justify-self: center;
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    column-gap: 2rem;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-grey-dark-2;

    @media only screen and (max-width: $bp-5) {
      width: 7rem;
      height: 7rem;
    }

    @media only screen and (max-width: $bp-6) {
      width: 5rem;
      height: 5rem;
    }
  }

  &__text {
    font-size: $fz-1;
    text-transform: uppercase;
    font-weight: $fw-7;
    color: $color-primary;

    @media only screen and (max-width: $bp-6) {
      font-size: 1.2rem;
    }
  }

}