.projects {
  display: grid;
  gap: 5rem;
  grid-column: full-start / full-end;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: $bp-6) {
    grid-template-columns: 1fr;
  }

  &__link {
    align-items: center;
    color: $color-red;
    display: flex;
    font-size: $fz-3;
    grid-column: 1 / -1;
    justify-content: center;
    text-decoration: none;
  }

  &__img {
    display: block;
    width: 100%;
  }
}
