.projects {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;

  @media only screen and (max-width: $bp-6) {
    grid-template-columns: 1fr;
  }

  &__link {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $color-grey-light-2;
    font-size: $fz-3;
  }
  
  &__img {
    display: block;
    width: 100%;
  }
}