.skills {
  grid-column: full-start / full-end;
  padding: 5rem;

  position:relative; 
  background-image: linear-gradient(to right, rgba($color-white, .6),  rgba($color-white, .6));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  align-items: start;
  gap: 3rem;

  &-box {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 3rem;
    margin-left: 5vw;
  }

  &__icon {
    width: 4rem;
    height: 4rem;

    &--1 {
      fill: $color-secondary;
    }

    &--2 {
      fill: $color-pink-dark;
    }

    &--3 {
      fill: $color-orange-light;
    }

    &--4 {
      fill: $color-green-dark;
    }

    &--5 {
      fill: $color-blue-dark-1;
    }

    &--6 {
      fill: $color-brown-dark;
    }

    &--7 {
      fill: $color-pink-light-2;
    }

    &--7 {
      fill: $color-primary;
    }
  }

  &__name {
    font-size: 3rem;
    color: $color-grey-dark-2;
    text-shadow: $txsw-2;
  }
}