.skills {
  display: grid;
  grid-column: full-start / full-end;

  &__wrapper {
    align-items: start;
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.2),
        rgba($color-white, 0.5)
      ),
      url(../img/cemalovic-milos-protfolio-skills.gif);
    background-position: center;
    background-size: cover;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    @media only screen and (max-width: $bp-6) {
      grid-template-columns: 1fr;
    }
  }

  &__box {
    display: grid;
    gap: 3rem;
    grid-template-columns: min-content max-content;
    margin-left: 5vw;

    @media only screen and (max-width: $bp-6) {
      margin-left: 20%;
    }
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }

  &__name {
    color: $color-white;
    font-size: 3rem;

    @media only screen and (max-width: $bp-6) {
      font-size: 2.5rem;
    }
  }
}
