.skills {
  grid-column: full-start / full-end;
  display: grid;

  &__wrapper {

    position:relative; 
    background-image: linear-gradient(to right, rgba($color-white, .8),  rgba($color-white, .8)), url(../img/cemalovic-milos-protfolio-skills.gif);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  
    align-items: start;
    gap: 3rem;
    padding: 5rem 0;

    @media only screen and (max-width: $bp-6) {
      grid-template-columns: 1fr;
    }
  
  }

  &__box {
    display: grid;
    grid-template-columns: min-content max-content;
    gap: 3rem;
    margin-left: 5vw;


    @media only screen and (max-width: $bp-5) {
      margin-left: 20%;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
  }

  &__name {
    font-size: 3rem;
    color: $color-red;
  }
}