.top {
  grid-column: full-start / full-end;
  padding: 0 3.5rem;
  background-color: $color-grey-light-1;
  @include flex-nav-1;

  @media only screen and (max-width:$bp-5) {
    display: none;
  }
}