<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,400;0,600;1,300;1,400&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="img/cemalovic-milos-protfolio-logo.png" type="image/png">

  <title>Cemalovic Milos</title>
</head>

<body>

  <section id="top" class="top">

    <h1 class="heading-1">
      <a href="https://www.linkedin.com/in/milos-cemalovic" class="heading-1__link" target="_blank">Miloš Ćemalović
        portfolio</a>
    </h1>

    <div class="social">

      <a class="social__link" href="https://www.linkedin.com/in/milos-cemalovic" target="_blank">
        <svg class="social__icon social__icon--1">
          <use xlink:href="img/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>

      <a class="social__link" href="https://github.com/MilosCemalovic" target="_blank">
        <svg class="social__icon social__icon--2">
          <use xlink:href="img/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>
  </section>

  <nav class="navigation-box">

    <a href="index.html" class="navigation-box__link">
      <div class="navigation-box__img"></div>
    </a>

    <ul id="nav" class="nav mt-lg">

      <li class="nav__item nav__item--home">
        <a href="#top" class="nav__link">Home</a>
      </li>

      <li class="nav__item">
        <a href="#experience" class="nav__link">Experience</a>
      </li>

      <li class="nav__item">
        <a href="#skills" class="nav__link">Skills</a>
      </li>

      <li class="nav__item">
        <a href="#about" class="nav__link">About</a>
      </li>

      <li class="nav__item">
        <a href="#contact" class="nav__link">Contact</a>
      </li>
    </ul>

    <div class="details">
      <div class="social">

        <a class="social__link social__cv" href="img/CV_MilosCemalovic.pdf" download target="_blank">
          CV
        </a>

        <a class="social__link" href="https://www.linkedin.com/in/milos-cemalovic" target="_blank">
          <svg class="social__icon social__icon--1">
            <use xlink:href="img/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>

        <a class="social__link" href="https://github.com/MilosCemalovic" target="_blank">
          <svg class="social__icon social__icon--2">
            <use xlink:href="img/sprite.svg#icon-github"></use>
          </svg>
        </a>
      </div>

      <div class="details__text">
        &copy; Cemalovic 2025. <span>All rights reserved.</span>
      </div>
    </div>
  </nav>

  <header class="header">
    <h2 class="heading-2">
      <span class="heading-2 heading-2-span--1">Hello!</span>
      <span class="heading-2 heading-2-span--2">I am a Software Developer</span>
    </h2>

    <div class="btn-box">
      <a href="img/CV_MilosCemalovic.pdf" download class="btn mr-md btn--cv">
        <svg class="btn__icon">
          <use xlink:href="img/sprite.svg#icon-download"></use>
        </svg>
        Download CV
      </a>

      <a href="#skills" class="btn btn--read">Tech Experience</a>
    </div>
  </header>

  <section id="experience" class="experience p-lg">

    <h3 class="heading-3 heading-3--experience">Professional Experience</h3>

    <div class="experience__box">

      <span class="experience__year">2022</span>

      <span class="heading-5 heading-5--experience">EY<br> 2022 - 2025</span>

      <span class="par">Frontend Developer
        <br>
        React / TypeScript / JavaScript / Redux toolkit / Material UI / Jest / Testing library / React Hook Form / JSX
        / CSS3 / SDLC / Jira / Git / pnpm
      </span>

    </div>

    <div class="experience__box">

      <span class="experience__year">2020</span>

      <span class="heading-5 heading-5--experience">Intelligent Betting Software<br> 2020 - 2021</span>

      <span class="par">Junior Front-End developer
        <br>
        Angular / TypeScript / REST API / PrimeNG / Angular Material / SASS / CSS3 / HTML5 / Redmine / SDLC / Transloco
        i18n / Git / npm
      </span>

    </div>

    <div class="experience__box">

      <span class="experience__year">2019</span>

      <span class="heading-5 heading-5--experience">Web Design Agency Studio 77<br> 2019</span>

      <span class="par">Web Design intership
        <br>
        SEO / HTML5 / CSS3 / CSS Grid / CSS Flexbox / SASS
      </span>

    </div>

    <div class="experience__box">

      <span class="experience__year">2013</span>

      <span class="heading-5 heading-5--experience"><a href="https://naturally-dance-org.netlify.app/"
          target="_blank">Naturally Dance</a><br> 2013 - 2020</span>

      <span class="par">Founder - Owner
        <br>
        Dance teacher / International and local event organization / Public relations /
        Marketing activities</span>

    </div>

  </section>

  <section id="skills" class="skills">

    <h3 class="heading-3 heading-3--skills m-lg">Technical Experience & Principles</h3>

    <div class="skills__wrapper ptb-lg">

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-react"></use>
        </svg>

        <span class="skills__name">React</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-typescript"></use>
        </svg>

        <span class="skills__name">TypeScript</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-javascript"></use>
        </svg>

        <span class="skills__name">JavaScript</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-scrum"></use>
        </svg>

        <span class="skills__name">Agile & Scrum</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-mui"></use>
        </svg>

        <span class="skills__name">Material UI</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-testing-library"></use>
        </svg>

        <span class="skills__name">Testing library</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-jest"></use>
        </svg>

        <span class="skills__name">Jest</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-hook-form"></use>
        </svg>

        <span class="skills__name">React Hook Form</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-redux"></use>
        </svg>

        <span class="skills__name">Redux</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-angular"></use>
        </svg>

        <span class="skills__name">Angular</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-material"></use>
        </svg>

        <span class="skills__name">Angular Material</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-primeng"></use>
        </svg>

        <span class="skills__name">PrimeNG</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-sass"></use>
        </svg>

        <span class="skills__name">SASS</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-svg"></use>
        </svg>

        <span class="skills__name">SVG</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-css3"></use>
        </svg>

        <span class="skills__name">CSS3 (+ Fexbox & Grid)</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-html5"></use>
        </svg>

        <span class="skills__name">HTML5</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-dry-1"></use>
        </svg>

        <span class="skills__name">DRY</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-sdlc-1"></use>
        </svg>

        <span class="skills__name">SDLC</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-bem"></use>
        </svg>

        <span class="skills__name">BEM methodology</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-seo-1"></use>
        </svg>

        <span class="skills__name">SEO</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-transloco"></use>
        </svg>

        <span class="skills__name">Transloco i18n</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-git"></use>
        </svg>

        <span class="skills__name">Git</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-npm-2"></use>
        </svg>

        <span class="skills__name">npm</span>

      </div>

      <div class="skills__box">

        <svg class="skills__icon">
          <use xlink:href="img/sprite.svg#icon-pnpm"></use>
        </svg>

        <span class="skills__name">pnpm</span>

      </div>

    </div>

  </section>

  <section id="projects" class="projects">

    <h3 class="heading-3 heading-3--projects mtlr-lg">Web Design, React, Angular & PHP projects</h3>

    <a href="https://miloscemalovic.github.io/pijaca/" target="_blank" class="projects__link-img">
      <img src="img/cemalovic-milos-protfolio-pijaca.jpg" alt="cemalovic-milos-primeng-project-photo-3"
        class="projects__img">
    </a>
    <a href="https://cemalovic-wedding-website.netlify.app/" target="_blank" class="projects__link-img">
      <img src="img/cemalovic-milos-protfolio-wedding-website.png" alt="cemalovic-milos-wedding-website-project-photo-2"
        class="projects__img">
    </a>
    <a href="https://kafeterijakraljevo.netlify.app/" target="_blank" class="projects__link-img">
      <img src="img/cemalovic-milos-protfolio-kafeterija.png" alt="cemalovic-milos-kafeterija-project-photo-1"
        class="projects__img">
    </a>
    <a href="https://github.com/MilosCemalovic/cemalovic-react-portfolio" target="_blank" class="projects__link-img">
      <img src="img/cemalovic-milos-protfolio-react.png" alt="cemalovic-milos-react-project-photo-1"
        class="projects__img">
    </a>
    <a href="https://github.com/MilosCemalovic/primeng-newspaper" target="_blank" class="projects__link-img">
      <img src="img/cemalovic-milos-protfolio-angular.png" alt="cemalovic-milos-angular-project-photo-1"
        class="projects__img">
    </a>
    <a href="https://github.com/MilosCemalovic/spaceweb-phpmvcoop-and-more" target="_blank" class="projects__link-img">
      <img src="img/cemalovic-milos-protfolio-spaceweb.png" alt="cemalovic-milos-phpmvcoop-project-photo-4"
        class="projects__img">
    </a>

  </section>

  <section id="about" class="about ptb-lg">
    <h3 class="heading-3 heading-3--about">Way of progress</h3>

    <div class="about__box">

      <svg class="about__icon">
        <use xlink:href="img/sprite.svg#icon-rocket"></use>
      </svg>

      <span class="heading-5 heading-5--about">2022-2025</span>

      <p class="par par--about">Working as a React developer, I've been a member of multiple teams involved in building
        complex IFA
        (Independent Financial Adviser) web application for buying insurance for a UK based banking client.
        <br><br>
        I have expirience with:
        <br>- developing and maintaining UI standalone and reusable components
        <br>- writing unit tests with Jest and React Testing Library
        <br>- implementing Storybook based on Material UI
        <br>- styling components with CSS module
        <br>- reading Kibana and Jenkins logs
        <br>- ensuring ES linting compliance
        <br>- S.O.L.I.D. & DRY principles
        <br>- custom validation libraries
        <br>- micro-service architecture
        <br>- updating snapshots
        <br>- all stages of SDLC
        <br>- pnpm
        <br>- Redux and React plugins for debugging as well as Network and Source browser tabs
        <br><br>
        Engaged with Product Management, Scrum Masters, Business Analysts, UI/UX
        Designers, Developers, and Quality Engineers for optimal outcomes.
        <br><br>
        Committed to delivering high-quality, well-designed,
        testable, and scalable code by adhering to clean code principles.
      </p>

    </div>

    <div class="about__box">

      <svg class="about__icon">
        <use xlink:href="img/sprite.svg#icon-presentation"></use>
      </svg>

      <span class="heading-5 heading-5--about">2020-2021</span>

      <p class="par par--about">As an Angular developer, I’ve successfully deployed an in-house platform,
        I created dynamic, responsive, pixel-perfect and localized web applications. Here's a
        breakdown of my Angular development work from November 2020 to January 2022.
        <br><br>
        Providing clean and reusable code,
        I’ve used:
        Angular / TypeScript / REST API / PrimeNG / Angular Material / SASS / CSS3 / HTML5 / Redmine / SDLC / Transloco
        i18n / ES Lint / Git / npm
        <br><br>
        In Angular I had expirience with:
        <br>
        - Directives [*ngIf, *ngFor, ngClass]
        <br>
        - Lifecycle hooks [ngOnInit, ngOnDestroy, ngOnChanges]
        <br>
        - Decorators [@NgModule (declarations, imports, exports, providers), @Injectable, @Pipe, @Input, @Output
        (EventEmmiter)]
        <br>
        - Reactive form with Validators (required, email, minLength(), maxLength())
        <br>
        - Routing [Router, Child routes]
        <br>
        - Feature Module [Lazy loading, Preloading strategy]
        <br>
        - HttpClient [fetching API data from server]
        <br>
        - Services
        <br>
        - Pipes [built-in, ng2Search and custom made]
        <br>
        - Interfaces
        <br>
        - RxJS [Observable, map]
        <br>
        - Angular Material & PrimeNG UI libraries
        <br>
        - Transloco i18n
      </p>

    </div>

    <div class="about__box">

      <svg class="about__icon">
        <use xlink:href="img/sprite.svg#icon-biker"></use>
      </svg>

      <span class="heading-5 heading-5--about">2017-2020</span>

      <p class="par par--about">As a versatile developer, I’ve delved into the exciting realms of responsive web design
        and PHP with this Technology Stack:
        <br><br>
        Responsive Web Design: I’ve honed my skills in creating interfaces that adapt seamlessly across devices,
        ensuring optimal user experiences.
        <br><br>-
        SDLC (Software Development Life Cycle): I’ve navigated the entire development process, from requirements
        gathering to deployment, ensuring efficient and well-organized projects.
        <br><br>-
        Object-Oriented Programming (OOP): My codebase reflects the principles of OOP, emphasizing modularity,
        encapsulation, and reusability.
        <br><br>-
        DRY Principle (Don’t Repeat Yourself): I’m committed to minimizing redundancy by creating reusable components
        and functions. Every piece of knowledge has a single authoritative representation within my codebase.
        <br><br>-
        BEM Methodology (Block Element Modifier): When styling, I adhere to BEM—a structured approach that promotes
        consistency and scalability.
        <br><br>-
        SEO Mastery: Guided by experts, I learned the intricacies of SEO—how to optimize content, improve rankings, and
        drive organic traffic.
        <br><br>-
        SASS: My stylesheets are organized and maintainable, thanks to SASS’s powerful features.
        <br><br>-
        SVG (Sprite): I’ve harnessed SVG sprites for efficient icon management.
        <br><br>-
        CSS Grid and Flexbox: I wield these layout techniques to create flexible, responsive designs.
        <br><br>-
        Intersection Observer: I’ve used this API to trigger actions based on element visibility.
        <br><br>-
        HTML5: My markup adheres to modern standards, ensuring semantic and accessible content.
        <br><br>-
        PHP: I’ve built dynamic server-side applications, leveraging PHP’s versatility.
        <br><br>-
        MVC Architecture: I organize code into models, views, and controllers for maintainable projects.
        <br><br>-
        phpMyAdmin and MySQL Database: I’ve managed databases, ensuring data integrity and efficient queries.
      </p>

    </div>

    <div class="about__box">

      <svg class="about__icon">
        <use xlink:href="img/sprite.svg#icon-lightbulb"></use>
      </svg>

      <span class="heading-5 heading-5--about">2013-2020</span>

      <p class="par par--about">
        My work transcends dance - it’s about creating cohesive experiences, solving logistical challenges, and uniting
        people toward shared goals. These skills directly translate to driving team success in collaborative
        professional settings. Transforming passion for movement into structured leadership and cross-functional
        expertise.
        <br><br>
        Key Qualities & Achievements:
        <br><br>
        Operational Excellence
        <br><br>
        - Founded and scaled a dance school, overseeing budgeting, staffing, and program development
        <br>
        - Cultivated collaborative environments emphasizing teamwork, cultural sensitivity, and creative problem-solving
        <br><br>
        Instructional Leadership
        <br><br>
        - Developed and delivered comprehensive dance curricula (Salsa, Kizomba, 10+ Ballroom dances) for diverse
        student cohorts, fostering technical proficiency and artistic expression
        <br><br>
        Event Production & Project Management
        <br><br>
        - Orchestrated 500+ international and local <a href="https://naturally-dance-org.netlify.app/"
          target="_blank">Naturally Dance</a> events, managing end-to-end logistics, vendor coordination, and audience
        engagement
        <br>
        - Spearheaded <a href="https://www.facebook.com/bgdiskozurka" target="_blank">Beogradska Disko Žurka - Belgrade
          Disco Fever</a> (1000+ attendees), creating inclusive experiences bridging cultural/generational divides
        <br><br>
        Marketing & Public Relations
        <br><br>
        - Engineered data-driven promotional campaigns (social media, guerilla tactics) increasing event attendance
        <br>
        - Secured media coverage and partnerships, enhancing brand visibility and community reach
        <br><br><br>
        Adaptability: Thrives in dynamic, high-pressure environments
        <br><br>
        Execution Focus: Combines creativity with operational discipline to deliver measurable outcomes
        <br><br>
        People-Centric Approach: Proven ability to engage diverse audiences and build inclusive communities
        <br><br>
        Entrepreneurial Mindset: Founder experience demonstrates initiative, risk management, and ownership
      </p>

    </div>

  </section>

  <section class="hobbies">

    <h3 class="heading-3 heading-3--hobbies mtb-md">Hobbies</h3>

    <div class="hobbies-box">

      <svg class="hobbies__icon">
        <use xlink:href="img/sprite.svg#icon-biker"></use>
      </svg>

      <span class="hobbies__text">Cycling</span>

    </div>

    <div class="hobbies-box">

      <svg class="hobbies__icon">
        <use xlink:href="img/sprite.svg#icon-basketball"></use>
      </svg>

      <span class="hobbies__text">Basketball</span>

    </div>

    <div class="hobbies-box">

      <svg class="hobbies__icon">
        <use xlink:href="img/sprite.svg#icon-dance"></use>
      </svg>

      <span class="hobbies__text">Dancing</span>

    </div>

    <div class="hobbies-box">

      <svg class="hobbies__icon">
        <use xlink:href="img/sprite.svg#icon-table-tennis"></use>
      </svg>

      <span class="hobbies__text">Table tennis</span>

    </div>

    <div class="hobbies-box">

      <svg class="hobbies__icon">
        <use xlink:href="img/sprite.svg#icon-volleyball"></use>
      </svg>

      <span class="hobbies__text">Volleyball</span>

    </div>

    <div class="hobbies-box">

      <svg class="hobbies__icon">
        <use xlink:href="img/sprite.svg#icon-swimming"></use>
      </svg>

      <span class="hobbies__text">Swimming</span>

    </div>

  </section>

  <section class="objective mt-lg p-lg">

    <h3 class="heading-3 heading-3--hobbies">Objective</h3>

    <p class="par par-objective">I bring a rare blend of hands-on problem-solving (9+ years in the hotel tech industry),
      large-scale project orchestration (500+ local & international events), and modern technical execution (4+ years in
      frontend development). I thrive where precision meets people. Solve problems, lead projects, and communicate
      clearly - honed across tech, events, and hotel operations. I’m eager to apply this versatility to your team. This
      cuts through noise and positions me as a reliable executor, not just a developer.
      <br><br>
      Industry-Agnostic Impact
      <br><br>
      1. Problem-solving → Fixing inefficiencies
      <br><br>
      2. Event management → Hitting deadlines
      <br><br>
      3. Client communication → Driving retention
      <br><br>
      Skilled and experienced Developer Advantage
      <br><br>
      My non-traditional path proves resourcefulness and resilience - more valuable than rote credentials, always ready
      to apply my knowledge and skills for continuous improvement. Working in a large corporation I have been exposed to
      clients with various backgrounds and nationalities. This experience allowed me to strengthen my pro-activity and
      assertive approach and successfully apply them to all project development stages - from idealization, planning,
      execution, monitoring and control to closure.
      <br><br>
      ✔Spoken and written English knowledge<br>
      ✔Well designed, testable, and scalable code<br>
      ✔Developing responsive and mobile-friendly websites<br>
      ✔Excellent communication, collaboration and soft skills<br>
      ✔Positive, responsible, detail and service-oriented personality<br>
      ✔Experience with React, TypeScript, JavaScript, Redux, React Hook Form, Jest, React Testing Library, Angular,
      RESTful API, Material UI, Angular Material, Prime NG, Transloco i18n, JSX, HTML5, CSS3 (+ Flexbox & Grid), SASS,
      SVG (single & sprite), SEO, PHP, MySQL, Git, npm and pnpm<br>
      ✔Experience with ESLint<br>
      ✔Experience in code reviewing<br>
      ✔Experience with Agile and Scrum<br>
      ✔Experience in all phases of SDLC<br>
      ✔Experience in mentoring teammates<br>
      ✔Learning new skills and technologies<br>
      ✔Experience with Trunk based development<br>
      ✔Experience with micro-service architecture<br>
      ✔Experience with Jira, Confluence & Redmine<br>
      ✔Experience with Virtual Desktop Infrastructure<br>
      ✔Experience with reading Kibana and Jenkins logs<br>
      ✔Debugging experience with React and Redux DevTools<br>
      ✔Experience with digital and social network marketing<br>
      ✔Experience with Clean Code Principles: S.O.L.I.D, DRY & BEM
    </p>
  </section>

  <footer id="contact" class="footer p-lg">

    <a class="footer__link" href="https://www.linkedin.com/in/milos-cemalovic" target="_blank">
      <span class="span">Feel free to <span class="span__contact">contact</span> me</span>
    </a>

    <span class="footer__text">
      &copy; Cemalovic 2025. All rights reserved.
    </span>

    <div class="social social__footer">

      <a class="social__link" href="https://www.linkedin.com/in/milos-cemalovic" target="_blank">
        <svg class="social__icon social__icon--1">
          <use xlink:href="img/sprite.svg#icon-linkedin"></use>
        </svg>
      </a>

      <a class="social__link" href="https://github.com/MilosCemalovic" target="_blank">
        <svg class="social__icon social__icon--2">
          <use xlink:href="img/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </div>

  </footer>

</body>

</html>