.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    color: $color-white;
    font-weight: $fw-4;
    font-family: $font-secondary;
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    width: 20rem;
    text-align: center;
    -webkit-transition: $transition-2;
    transition: $transition-2;
    border-radius: 1rem;
    position: relative;

    @media only screen and (max-width:$bp-5) {
      padding: 1.1rem 1.8rem;
    }
  }

  &:hover {
    transform: scale(1.03);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: $bxsw-2;
    border-radius: 1rem;
    opacity: 0;
    -webkit-transition: $transition-2;
    transition: $transition-2;
    z-index: -1;
  }

  &:hover::after {
    opacity: 1;
  }

  &:focus::after,
  &:active::after {
    transform: scale(1);
    box-shadow: none;
    outline: none;
  }

  &--read {
    background-color: $color-blue-light;
  }

  &--cv {
    margin-right: 2rem;
    background-color: $color-orange-dark;
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    justify-content: space-around;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-white;
  }
}