*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: $bp-2) {
    font-size: 50%;
  }
}

body {
  color: $color-primary;
  display: grid;
  font-family: $font-primary;
  font-size: $fz-1;
  font-weight: 400;
  grid-template-columns: [nav-start] 30rem [nav-end full-start] minmax(
      5rem,
      1fr
    ) [center-start] repeat(4, [col-start] minmax(min-content, 30rem) [col-end]) [center-end] minmax(
      5rem,
      1fr
    ) [full-end];
  grid-template-rows: 4rem calc(100vh - 4rem) repeat(7, min-content);
  line-height: $lh-2;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-5) {
    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(
        4,
        [col-start] minmax(min-content, 30rem) [col-end]
      ) [center-end] minmax(2rem, 1fr) [full-end];
    grid-template-rows: 7rem calc(100vh - 7rem) repeat(7, min-content);
  }
}

::selection {
  background-color: $color-primary;
  color: $color-grey-light-1;
}
