%heading {
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: $ls-3;
}

.heading-1 {
  @extend %heading;
  font-size: $fz-3;
  color: $color-grey-dark-1;

  &__link:link,
  &__link:visited {
    color: inherit;
    text-decoration: none;
  }

}

.heading-3 {
  @extend %heading;

  color: $color-white;
  animation: moveInRight 2s;
  display: grid;
  text-transform: unset;

  &-span {

    &--1 {
      font-size: 6rem;
    }
    
    &--2 {
      font-size: 3rem;

      @media only screen and (max-width:$bp-5) {
        font-size: $fz-3;
      }
    }
  }
}

.heading-4 {
  @extend %heading;
  line-height: $lh-1;
  font-size: 2.5rem;
  letter-spacing: $ls-2;
  color: $color-grey-dark-1;
  font-weight: $fw-9;
  grid-column: 1 / -1;

  @media only screen and (max-width: $bp-6) {
    justify-self: center;
  }

  &--about,
  &--footer {
    color: $color-grey-light-1;
  }
 
  &--footer {
    justify-self: center;
    text-align: center;

    @media only screen and (max-width:$bp-5) {
      margin-bottom: 5rem;
    }
  }

}

.heading-5 {
  @extend %heading;
  line-height: $lh-2;
  letter-spacing: $ls-1;
  text-align: center;

  &--about {
    font-size: $fz-3;
    color: $color-blue-light;
    text-transform: unset;
    grid-column: 2 / 3;
    margin-left: -2rem;
  }
}

.par {
  
  line-height: $lh-2;
  letter-spacing: $ls-2;
  font-size: 1.6rem;
  color: $color-grey-dark-1;
  grid-column: 1 / -1;
  text-align: justify;
}