// MARGIN-TOP

.mt-sm {margin-top: 1rem;}
.mt-md {margin-top: 2rem;}
.mt-lg {margin-top: 5rem;}


// MARGIN-BOTTOM

.mb-sm {margin-bottom: 1rem;}
.mb-md {margin-bottom: 2rem;}
.mb-lg {margin-bottom: 5rem;}


// MARGIN-TOP-BOTTOM

.mtb-lg {margin: 5rem 0;}
.mtb-md {margin: 2rem 0;}
.mtb-sm {margin: 1rem 0;}


// MARGIN-LEFT-RIGHT

.mlr-lg {margin: 0 5rem;}
.mlr-md {margin: 0 2rem;}
.mlr-sm {margin: 0 1rem;}


// MARGIN
.m-lg {margin: 5rem;}
.m-md {margin: 2rem;}
.m-sm {margin: 1rem;}

// MARGIN-TOP-LEFT-RIGHT

.mtlr-lg {margin: 5rem 5rem 0 5rem;}